---
import swiper from "swiper/swiper-bundle.css?url";
import fancybox from "@fancyapps/ui/dist/fancybox/fancybox.css?url";
import accordion from "accordion-js/dist/accordion.min.css?url";
import choices from "choices.js/public/assets/styles/choices.min.css?url";
import tippy from "tippy.js/dist/tippy.css?url";
import datepicker from "air-datepicker/air-datepicker.css?url";

import "../styles/global.css";

interface Props {
  /**
   * title в head
   */
  title: string;
  /**
   * Названия скриптов из папки src/scripts/entity
   *
   * Скрипт general уже подключен
   */
  scripts?: string[];
  children: any;
  /**
   * Подключение Яндекс.Карты
   */
  ymap?: boolean;
}

const { title, scripts, ymap } = Astro.props;

const version = String(Date.now()).substring(5);
---

<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- <link rel="stylesheet" href={swiper} /> -->
    <!-- <link rel="stylesheet" href={fancybox} /> -->
    <!-- <link rel="stylesheet" href={accordion} /> -->
    <!-- <link rel="stylesheet" href={choices} /> -->
    <!-- <link rel="stylesheet" href={tippy} /> -->
    <!-- <link rel="stylesheet" href={datepicker} /> -->
    <link rel="stylesheet" href=`/fonts/iconly/iconly.min.css?v=0.${version}` />
    <script type="module" src={`/js/general.js?v=0.${version}`}></script>
    {
      ymap ? (
        <script
          is:inline
          src={`https://api-maps.yandex.ru/v3/?apikey=${import.meta.env.PUBLIC_YMAP_API_KEY}&lang=ru_RU`}
          defer
        />
      ) : null
    }
    {
      scripts?.map((item) => (
        <script type="module" src={`/js/${item}.js?v=0.${version}`} />
      ))
    }
  </head>
  <body>
    <main class="main">
      <slot />
    </main>
  </body>
</html>

<style is:global lang="scss">
  html {
    height: 100%;
    scroll-behavior: smooth;
  }

  body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .main {
    flex-grow: 1;
  }
</style>
