---
type Positions = "left" | "center" | "right" | "full";

interface Props {
  /**
   * Позиция дочернего элемента на мобильном экране
   *
   * @default center
   */
  position?: Positions;

  /**
   * Позиция дочернего элемента начиная с phone
   */
  phone?: Positions;

  /**
   * Позиция дочернего элемента начиная с tablet
   */
  tablet?: Positions;

  /**
   * Позиция дочернего элемента начиная с laptop
   */
  laptop?: Positions;

  /**
   * Позиция дочернего элемента начиная с desktop
   */
  desktop?: Positions;

  /**
   * Позиция дочернего элемента начиная с widescreen
   */
  widescreen?: Positions;
}

const {
  position = "center",
  widescreen,
  desktop,
  laptop,
  tablet,
  phone,
} = Astro.props;
---

<section
  class:list={[
    "section",
    `section--${position}`,
    widescreen && `section--widescreen-${desktop}`,
    desktop && `section--desktop-${desktop}`,
    laptop && `section--laptop-${laptop}`,
    tablet && `section--tablet-${tablet}`,
    phone && `section--phone-${phone}`,
  ]}
>
  <div class="section__container">
    <slot />
  </div>
</section>

<style is:global lang="scss">
  .section {
    @include section;

    $positions: "left", "center", "right", "full";

    @each $position in $positions {
      &--#{$position} {
        --section-position: #{$position};
      }
    }

    @each $position in $positions {
      @include phone-min {
        &--phone-#{$position} {
          --section-position: #{$position};
        }
      }
    }

    @each $position in $positions {
      @include tablet-min {
        &--tablet-#{$position} {
          --section-position: #{$position};
        }
      }
    }

    @each $position in $positions {
      @include laptop-min {
        &--laptop-#{$position} {
          --section-position: #{$position};
        }
      }
    }

    @each $position in $positions {
      @include desktop-min {
        &--desktop-#{$position} {
          --section-position: #{$position};
        }
      }
    }

    @each $position in $positions {
      @include widescreen-min {
        &--widescreen-#{$position} {
          --section-position: #{$position};
        }
      }
    }

    &__container {
      display: grid;
      grid-area: var(--section-position);
    }
  }
</style>
